@import url(./components/about.css);
@import url(./components/experiences.css);
@import url(./components/projects.css);
@import url(./components/contacts.css);
* {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    min-height: 100%;
    /* background-color: black; */
}
html,
body,
main {
  transition: background-color 0.35s ease, color 0.35s ease;
}
body {
    margin: 0px;
    font-family: "Elms Sans", sans-serif;
}
h1{
    text-align: center;

}
h2{
    text-align: center;
    letter-spacing: 0.1em;
}
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
span{
    user-select: none;
}