.ABOUT-facts-about-me .wrapper {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    user-select: none;
    transform: translateY(-6px);

    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* when details is open */
.ABOUT-facts-about-me[open] .wrapper {
    max-height: 300px; /* больше, чем контент */
    opacity: 1;
    transform: translateY(0);
}
.ABOUT-facts-about-me.closing .wrapper {
    max-height: 0;
    opacity: 0;
    transform: translateY(-1px);
}

/* custom arrow */
.ABOUT-facts-about-me summary::after {
    content: "‹";
    transform: rotate(270deg);
    font-size: 1.2rem;
    transition: transform 0.25s ease;
    pointer-events: none;
  }
  
  /* rotate arrow when open */
.ABOUT-facts-about-me[open] summary::after {
    transform: rotate(90deg);
}
.ABOUT-facts-about-me:hover {
    background: var(--facts-about-me-hover);
}