.intro{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#intro-greeting{
    font-size: 72px;
    line-height: 1.1;     
    height: 1.1em; 
}
#intro-description{
    font-weight: 300;
    margin: 0;
    width: 45ch;
    text-align: center;
    font-size: 24px;
}
#intro-description b{
    font-weight: 600;
}

.typewriter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor {
    margin-left: 4px;
    animation: blink 1.2s ease-in-out infinite;
    font-size: 72px;
    font-weight: 600;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }