.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 667;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: var(--navbar);
    border-bottom: 1px solid var(--navbar-border);
    padding: 0 5%;
    margin: 0px;
    width: 100%;
    height: 70px;
}
#navbar-logo{
    display: block;
    height: 70px;
    width: 150px;
    filter: invert(0);
}
.dark #navbar-logo{
    filter: invert(1);
    transition: filter 0.3s ease;
}
.navbar-center{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 50px;
}
.dark #navbar-right-img{
    content: url("/public/img/sun.png");
    filter: invert(1);
    transform: scale(0.85);
}
#navbar-right-img {
    content: url("/public/img/moon.png");
    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
    height: 15px;
    width: 15px;
    display: block;
}
#dark-light-theme-button{
    /* reset */
    all: unset; 

    width: 30px;
    height: 30px;
    background-color: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px var(--border);
    border-radius: 8px;
    cursor: pointer;
}








