#projects h2{
    text-align: center;
    letter-spacing: 0.1em;
}
.projects-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    box-shadow:
    0 1px 2px rgba(0,0,0,0.06),
    0 4px 12px rgba(0,0,0,0.08);
}
.dark #github-logo{
    filter: invert(1);
}
#projects-img{
    height: 50%;
    width: 50%;
    border-radius: 5px;
    opacity: 0.8;
}

#github-logo{
    height: 20px;
    width: 20px;
}
.projects-text h3{
    margin: 0;
}
.dark #github-button{
    color: var(--text);
}
#github-button{
    width: 100px;
    height: 30px;
    background-color: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: solid 1px var(--border);
    border-radius: 8px;
    cursor: pointer;
}